.img6{
    text-align: center;

}
.ppp{
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 80%;
    margin-left: 140px;
}
.img77{
    border-radius: 10px;
    width: 500px;
    height: 300px;
}