.App {
  text-align: center;
  margin-right: -30px;
}

body{
  background:url('https://png.pngtree.com/background/20230516/original/pngtree-large-room-full-of-equipment-in-a-gym-picture-image_2611111.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat ;
  background-size: cover;
}

